.wow {
    visibility: hidden;
}

html {
    scroll-behavior: smooth;
}

body{
    height: 5000px;
    color: #F2F2F2;
}

a{
    color: #F2F2F2;
}

a:hover{
    color: #6C6C6C;
}

#navList{
    list-style-type: none;
    font-size: 25px;
    margin-bottom: 5em;
}

#sidebarContainer{
    background-color: #313638;
    max-width: 16vw;
    height: 100vh;
}

#authorImage{
    max-width: 12em;
}

#sidebarHeader{
    margin-bottom: 5em;
}

#test{
    color: black;
}

#siteContent{
    background-color: #1f2324;
    margin-left: 16vw;
    padding: 0;
}

#about{
    height: 100vh;
}

#mobileNav{
    display: none;
}

@media (max-width: 1024px) { 
    #sidebarContainer{
        max-width: 30vw;
    }
}