html {
    scroll-behavior: smooth;
  }

body{
    height: 5000px;
    color: #F2F2F2;
}

a{
    color: #F2F2F2;
}

a:hover{
    color: #6C6C6C;
}

#navList{
    list-style-type: none;
    font-size: 25px;
}

#sidebarContainer{
    background-color: #313638;
    max-width: 18vw;
    height: 100vh;
}

#authorImage{
    max-width: 12em;
}

#sidebarHeader{
    margin-top: 10em;
    margin-bottom: 10em;
}

#test{
    color: red;
}

#siteContent{
    margin-left: 18vw;
}

@media (max-width: 768px) { 
    #sidebarContainer{
        max-width: 30vw;
    }
}